/* Specialist Message: Now Thinner */
.spec-msg { 
    color: var(--light-orange); 
    margin-bottom: 25px; 
    font-weight: 400; 
    line-height: 1.4;
}

.spec-msg b { 
    color: var(--dark-orange); 
    font-weight: 800; 
}

/* Error Message: Bold Red */
.error-msg {
    color: #ff0000; 
    font-weight: 900; 
    margin-bottom: 15px;
    text-transform: none;
}
